/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Employee List Styles */
.employee-list {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  /* max-width: 600px; */
  min-width: 400px;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.employee-table th {
  background-color: #f2f2f2;
}

.employee-item:hover {
  background-color: #f1f1f1;
}

.no-employee{
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-icon {
  margin-right: 10px;
}

.delete-icon {
  margin-left: 10px;
  color: red;
}

.details-link,
.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-list-buttons{
   display: flex;
   justify-content: space-between;
}

.pagination-controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 7px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover:not(.disabled) {
  background-color: #0056b3;
}

.pagination-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-indicator {
  margin: 0 10px;
}

/* Add Employee Styles */
.page {
  color: #333;
  background-color: #fff;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 2em;
}

.page__main {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

.main__form {
  width: 100%;
}

.form {
  color: #333;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.form__linput {
  display: flex;
  flex-direction: column;
  margin-bottom: .8em;
}

.form__label {
  margin-bottom: 0.5em;
}

.form__input,
.form__select {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.form__textarea {
  padding: 1em;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.primary-btn {
  margin-right: auto;
  transition: 180ms ease-in;
  color: #fff;
  background-color: #4CAF50;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin: 0.25rem;
  font-size: 0.875rem;
}

.add-employee-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-employee-link:hover {
  background-color: #45a049;
}

/* Employee Details Styles */
.employee-details {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.details-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.details-content {
  margin: 20px 0;
}

.details-item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.details-item strong {
  color: #555;
  font-weight: bold;
}

.details-item span {
  color: #777;
}

.details-item-heading{
  font-weight: bold;
  font-size: 18px;
}

.details-item-heading2{
  font-weight: bold;
  font-size: 15px;
}

.address {
  margin-top: 10px;
  max-width: 250px;
  word-break: break-word;
}

.contact-methods {
  list-style: none;
  padding: 0;
}

.contact-method {
  margin: 5px 0;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  width: 115px;
}

.back-link:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .details-title {
    font-size: 20px;
  }

  .details-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .details-item strong,
  .details-item span {
    width: 100%;
  }

  .contact-method {
    flex-direction: column;
    align-items: flex-start;
  }
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  clear: both;
}

a {
  text-decoration: none;
  color: #000;
}
